# python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# environment
venv/
.venv/
.env
.env.*
env/

# Model Files 
# *.keras
# *.h5

# Node.js
node_modules/
dist/
.DS_Store

# Data
# data/raw/*.csv

# kaggle for training 
ai-engineering/kaggle_outputs/
